<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/03_card" target="_blank">Target</a>
</p>

<div class="wrapper">

  <!-- Present the following content in a card. -->
<div class="card" style="width: 18rem;">
  <img src="/img/3.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, iure laborum id vitae eius enim doloremque! At tempore iusto autem velit quas, voluptatem, fugit cumque, aspernatur voluptate delectus assumenda dolorem.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Mercury</li>
    <li class="list-group-item list-group-item-primary">Venus</li>
    <li class="list-group-item">Earth</li>
    <li class="list-group-item">Mars</li>
    <li class="list-group-item">Jupiter</li>
    <li class="list-group-item">Saturn</li>
    <li class="list-group-item">Uranus</li>
    <li class="list-group-item">Neptune</li>
    <li class="list-group-item">Pluto</li>
  </ul>
</div>



</div>

<style>
  .wrapper {
    width: 400px;
    max-width: 100%;
  }
</style>
